<ul class="news-menu mb-2 flex justify-content-between fs-xs">
    <li><a class="link-secondary" href="/forum/{{ category }}" routerLink="/forum/{{ category }}">{{ title }}</a></li>
    <li class="link-primary" (click)="onClickCreate()">{{ titleCreate }}</li>
</ul>
<div *ngIf="page && page.posts" class="news-list">
    <ul>
        <li class="fs-sm mb-1 py-1" *ngFor="let post of page.posts">
            <a href="{{ app.forum.postUrl( post.ID )}}" routerLink="{{ app.forum.postUrl( post.ID )}}">
                <div *ngIf="app.forum.getFirstImageThumbnailUrl(post)" class="float-left">
                <img class="size-32px" src="{{ app.forum.getFirstImageThumbnailUrl(post) }}">
                </div>
                <div class="post-title p-0 m-0 pl-2 overflow-hidden break-word" style="height: 2.4em; line-height: 1.2em;">{{ post.post_title }}</div>
            </a>
        </li>
    </ul>
</div>
