<section class="page register-profile-information-page">

    <header>
        <h1>{{text.user_register_information}}</h1>
        <p>{{text.user_register_information_desc}}</p>
    </header>

    <main class="bg-white p-3">
        <div *ngIf="app.user.photoURL" class="flex p-2 justify-content-center">
            <div class="profile-user-photo rounded-circle overflow-hidden">
                <img class="mw-100" src="{{app.user.photoURL}}">
            </div>
        </div>

        <div class="form-group">
            <label for="email3" class="form-group-addon">Email</label>
            <span class="form-control" id="email3">{{this.app.user.email}}</span>
        </div>
        <div class="form-group">
            <label for="name" class="form-group-addon">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="name">
        </div>

        <label class="form-group-addon">Gender</label>
        <div class="form-control">
            <div class="form-check mb-0">
                <label for="male" class="form-check-label mb-0">
                    <input type="radio" name="gender" id="male" [(ngModel)]="gender" value="m">
                    <span>Male</span>
                </label>
                <label for="female" class="form-check-label mb-0">
                    <input type="radio" name="gender" id="female" [(ngModel)]="gender" value="f">
                    <span>Female</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Birthday</label>

            <div class="input-group">
                <input class="form-control"
                       placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="birthday"
                       ngbDatepicker
                       [placement]="'top'"
                       #b="ngbDatepicker">
                <div class="input-group-addon pointer" (click)="b.toggle()">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="mobile" class="form-group-addon">Mobile</label>
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile" [(ngModel)]="mobile">
        </div>
        <div *ngIf="errorMessage">
            <div id="error_message" class="alert alert-danger" role="alert">{{this.errorMessage}}</div>
        </div>

        <div class="alert alert-info" role="alert" *ngIf="loading">
            <i class="fa fa-spinner fa-spin"></i>
            <span>Loading...</span>
        </div>
        <nav class="buttons">
            <button class="pointer" type="button" id="UpdateButton" (click)="onSubmitUpdateUserInfo()">Save</button>
        </nav>
    </main>
</section>
