<div *ngIf="post" class="post-data-header mb-3 flex justify-content-between">
    <div class="left">
        <div class="user-profile relative flex"
            (click)="onClickUserProfile($event)"
            (mouseenter)="onMouseEnterUserProfile($event)"
            (mouseleave)="onMouseLeaveUserProfileMenu();">
            <div>
                <img class="photo-icon-2x" src="{{ app.postUserPhotoUrl(post) }}">
            </div>
            <div class="ml-2 fs-sm">
                <div class="name flex">
                    <div class="ellipsis">{{ userName }}</div>
                    
                    <div ngbDropdown #profileDropdown="ngbDropdown" placement="auto" class="d-inline-block">
                        <div class="px-2 pointer" ngbDropdownToggle></div>
                        <div ngbDropdownMenu class="user-profile-popup p-0 top-50px min-width-250px">
                            <div class="header flex p-2 bg-lightgrey" routerLink="/profile/{{ post.author.ID }}">
                                <img class="xy-50px" src="{{ app.postUserPhotoUrl(post) }}">
                                <div class="pl-2">
                                    <div>{{ userName }}</div>
                                    <div class="fs-xs">2017-08-27 Lv. 31</div>
                                </div>
                            </div>
                            <div class="content py-2 fs-sm pointers">
                                <button class="dropdown-item" routerLink="/chat/{{app.postUserId(post)}}/{{ userName }}">Chat with {{ userName }}</button>
                                <button class="dropdown-item" routerLink="/posts/{{ post.author.ID }}">Posts of {{ userName }}</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="fs-sm" *ngIf="post.meta && post.meta.timestamp_create">
                    {{ app.shortDate( post.meta.timestamp_create ) }}
                </div>
            </div>
        </div>
    </div>
    <div class="right pr-1 grey">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <div class="px-2 pointer" ngbDropdownToggle></div>
            <div ngbDropdownMenu class="">
                <button class="dropdown-item" (click)=" edit.emit() ">Edit</button>
                <button class="dropdown-item" (click)=" delete.emit() ">Delete</button>
                <button class="dropdown-item">Something else is here</button>
            </div>
        </div>
    </div>
</div>
