<div *ngIf="post" class="post-data-header mb-3 flex justify-content-between">
    <div class="left" (mouseenter)="onMouseEnterUserProfile()" (mouseleave)="onMouseLeaveUserProfile()">
        <div class="flex">
            <div [ngbPopover]="popContent" #p="ngbPopover" triggers="manual" placement="right">
                <img class="photo-icon-2x" src="{{ app.postUserPhotoUrl(post) }}">
            </div>
            <div class="user-profile ml-2 fs-sm">
                <div>{{ userName }}</div>
                <div class="fs-sm" *ngIf="post.meta && post.meta.timestamp_create">
                    {{ app.shortDate( post.meta.timestamp_create ) }}
                </div>
            </div>
        </div>
    </div>
    <div class="right pr-1 grey">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <div class="px-2 pointer" ngbDropdownToggle></div>
            <div ngbDropdownMenu class="">
                <button class="dropdown-item" (click)=" edit.emit() ">Edit</button>
                <button class="dropdown-item" (click)=" delete.emit() ">Delete</button>
                <button class="dropdown-item">Something else is here</button>
            </div>
        </div>
    </div>
</div>
<ng-template #popContent>
        <img class="xy-50px" src="{{ app.postUserPhotoUrl(post) }}">
    <b>{{ app.postUserName(post) }}</b>!
    <div routerLink="/chat/{{app.postUserId(post)}}/{{app.postUserName(post)}}">Chat with {{ userName }}.</div>
    <div routerLink="/chat/{{app.postUserId(post)}}/{{app.postUserName(post)}}">See what {{ userName }} posted.</div>
    
</ng-template>
