<div class="container">
    <h3>Buy And Sell Create and Edit</h3>


    <div class="row no-gutters">
        <div class="input-group">
            <label for="tag" class="input-group-addon">Tag</label>
            <input type="text" class="form-control" id="tag" name="tag"
                   placeholder="What are you selling"
                   [(ngModel)]="tag">
        </div>
        <small class="mb-3">Type in one word: car, computer, generator, mobilephone, airfan ( english only )</small>
        <div class="form-group w-100">
            <div class="input-group mb-3">
                <label class="input-group-addon">Is it Used?</label>
                <div class="form-control">
                    <div class="form-check mb-0">
                        <label for="usedItem1" class="form-check-label">
                            <input type="radio" name="usedItem" id="usedItem1" [(ngModel)]="usedItem" value="y">
                            <span>Yes</span>
                        </label>
                        <label for="usedItem2" class="form-check-label">
                            <input type="radio" name="usedItem" id="usedItem2" [(ngModel)]="usedItem" value="n">
                            <span>No</span>
                        </label>
                        <label for="usedItem3" class="form-check-label">
                            <input type="radio" name="usedItem" id="usedItem3" [(ngModel)]="usedItem" value="na">
                            <span>Not Applicable</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-addon">Place</label>
                <select class="form-control" id="province" name="province" [(ngModel)]="province"
                        (change)="onClickProvince()">
                    <option value="all">Select Province</option>
                    <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
                </select>
            </div>

            <div *ngIf="showCities" class="input-group mb-3">
                <label class="input-group-addon">City</label>
                <select class="form-control" id="city" name="city" [(ngModel)]="city">
                    <option *ngFor="let key of cityKeys" [value]="key">{{cities[key]}}</option>
                </select>
            </div>


            <div class="input-group mb-3">
                <label class="input-group-addon">Deliverable</label>
                <div class="form-control">
                    <div class="form-check mb-0">
                        <label for="deliver1" class="form-check-label">
                            <input type="radio" name="deliver" id="deliver1" [(ngModel)]="deliverable" value="y">
                            <span>Yes</span>
                        </label>
                        <label for="usedItem2" class="form-check-label">
                            <input type="radio" name="deliver" id="deliver2" [(ngModel)]="deliverable" value="n">
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </div>


            <div class="input-group mb-3">
                <label for="price" class="input-group-addon">Price</label>
                <input type="number" class="form-control" name="price" id="price" placeholder="Unit Price"
                       [(ngModel)]="price">
            </div>


            <div class="input-group mb-3">
                <label for="title" class="input-group-addon">Title</label>
                <input type="text" class="form-control" id="title" name="title"
                       placeholder="Short description, model name, unit etc..."
                       [(ngModel)]="title">
            </div>

            <div class="input-group mb-3">
                <label for="description" class="input-group-addon">Description</label>
                <textarea class="form-control" id="description" name="description"
                          placeholder="Details of what you are selling..."
                          [(ngModel)]="description"></textarea>
            </div>

            <div class="input-group mb-3">
                <label for="contact" class="input-group-addon">Contact Info</label>
                <input type="text" class="form-control" id="contact" name="contact" placeholder="Contact information"
                       [(ngModel)]="contact">
            </div>


            <div class="text-center mb-3">
                <!--<img *ngIf="files.length"-->
                     <!--src="{{files[0]?.url}}"-->
                     <!--(click)="fileUploadWidget.onClickCamera()"-->
                <!--&gt;-->
                <file-upload-widget
                    #fileUploadWidget
                    [title]="false"
                    [files]="files"
                ></file-upload-widget>
            </div>

            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary btn-block" (click)="onClickSubmit()">Submit</button>
            </div>

        </div>
    </div>


</div>
