<section class="page buyandsell-create-edit-page">
    <header>
        <h1>{{ text.buyandsell_edit_create }}</h1>
        <p>{{ text.buyandsell_edit_create_desc }}</p>
    </header>
    <main class="bg-white p-3">
        <form>
            <div class="form-group">
                <label for="tag">{{ text.tag_title }}</label>
                <input type="text" class="form-control" id="tag" name="tag"
                       placeholder="{{ text.tag_placeholder }}"
                       [(ngModel)]="tag">
                <small class="form-text text-muted">{{ text.tag_desc }}
                </small>
            </div>


            <div class="form-group">
                <label>{{ text.is_used }}</label>
                <div class="form-control">
                    <div class="form-check mb-0">
                        <label for="usedItem1" class="form-check-label">
                            <input type="radio" name="usedItem" id="usedItem1" [(ngModel)]="usedItem" value="y">
                            <span>{{ text.yes }}</span>
                        </label>
                        <label for="usedItem2" class="form-check-label">
                            <input type="radio" name="usedItem" id="usedItem2" [(ngModel)]="usedItem" value="n">
                            <span>{{ text.no }}</span>
                        </label>
                        <label for="usedItem3" class="form-check-label">
                            <input type="radio" name="usedItem" id="usedItem3" [(ngModel)]="usedItem" value="x">
                            <span>{{ text.not_applicable }}</span>
                        </label>
                    </div>
                </div>
                <small class="form-text text-muted">{{ text.is_used_desc }}</small>
            </div>

            <div class="form-group">
                <label for="province">{{ text.location }}</label>
                <select class="form-control custom-select" id="province" name="province" [(ngModel)]="province"
                        (change)="onClickProvince()">
                    <option value="all">{{ text.select_province }}</option>
                    <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
                </select>
            </div>

            <div *ngIf="showCities" class="form-group">
                <label for="city">{{ text.city }}</label>
                <select class="form-control custom-select" id="city" name="city" [(ngModel)]="city">
                    <option *ngFor="let key of cityKeys" [value]="key">{{cities[key]}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>{{ text.deliverable }}</label>
                <div class="form-control">
                    <div class="form-check mb-0">
                        <label for="deliver1" class="form-check-label">
                            <input type="radio" name="deliver" id="deliver1" [(ngModel)]="deliverable" value="y">
                            <span>{{ text.yes }}</span>
                        </label>
                        <label for="usedItem2" class="form-check-label">
                            <input type="radio" name="deliver" id="deliver2" [(ngModel)]="deliverable" value="n">
                            <span>{{ text.no }}</span>
                        </label>
                    </div>
                </div>
                <small class="form-text text-muted">{{ text.deliverable_desc }}</small>
            </div>

            <div class="form-group">
                <label for="price">{{ text.price }}</label>
                <input type="number" class="form-control" name="price" id="price" placeholder="{{ text.price_holder }}"
                       [(ngModel)]="price">
                <small class="form-text text-muted">{{ text.price_desc }}</small>
            </div>


            <div class="form-group">
                <label for="title">{{ app.text('title') }}</label>
                <input type="text" class="form-control" id="title" name="title"
                       placeholder="{{ text.buyandsell_title_holder }}"
                       [(ngModel)]="title">
                <small class="form-text text-muted">{{ text.buyandsell_title_desc }}</small>
            </div>

            <div class="form-group">
                <label for="description">{{ text.buyandsell_description }}</label>
                <textarea class="form-control" id="description" name="description"
                          placeholder="{{ text.buyandsell_description_holder }}"
                          [(ngModel)]="description"></textarea>
                <small class="form-text text-muted">{{ text.buyandsell_description_desc }}</small>
            </div>

            <div class="form-group">
                <label for="contact">{{ text.contact_info }}</label>
                <input type="text" class="form-control" id="contact" name="contact" placeholder="{{ text.contact_info_holder }}"
                       [(ngModel)]="contact">
                <small class="form-text text-muted">{{ text.contact_info_desc }}</small>
            </div>


            <div class="form-group">
                <label>{{ text.buyandsell_upload_image }}</label>
                <div class="upload-product p-2">
                    <i class="fa fa-picture-o fa-3x"></i>
                    <input *ngIf=" ! app.isCordova " type="file" (change)="fileUploadWidget.onChangeFile($event)">
                    <nav class="buttons">
                        <button (click)="fileUploadWidget.onClickCamera()">{{ text.upload_image }}</button>
                    </nav>
                </div>
                <small class="form-text text-muted">{{ text.buyandsell_upload_image_desc }}</small>
                <file-upload-widget
                    #fileUploadWidget
                    [title]="false"
                    [files]="files"
                    [fileSelectionButton]="false"
                ></file-upload-widget>
            </div>

            <div *ngIf="errorMessage">
                <div id="error_message" class="alert alert-danger" role="alert">{{this.errorMessage}}</div>
            </div>

            <div class="alert alert-info" role="alert" *ngIf="loading">
                <i class="fa fa-spinner fa-spin"></i>
                <span>Loading...</span>
            </div>


            <div class="form-group mb-3">
                <button type="button" class="product-submit btn btn-primary btn-block pointer" (click)="onClickSubmit()">{{ text.buyandsell_submit }}
                </button>
            </div>
        </form>
    </main>
</section>
