<div class="comment-view" [attr.comment-id]="comment.comment_ID" [attr.depth]="comment.depth">
    No. {{ comment.comment_ID }}
    <div class="comment-content">
        {{ comment.comment_content }}

    </div>
    <div class="display-files display-comment-files" *ngIf=" comment.files.length ">
        <div class="file" *ngFor=" let file of comment.files " [attr.type]="app.file.getFileType(file)">
            <div [class]="app.file.getFileType(file)">
                <img src="{{ file.url }}" *ngIf="app.file.getFileType(file) == 'image'">
                <a href="{{ file.url }}" target="_blank" *ngIf="app.file.getFileType(file) == 'attachment'">{{ file.name }}</a>
            </div>
        </div>
    </div>


    <hr>

    <ul class="buttons">
        <li>Like</li>
        <li (click)="showReply=!showReply">Reply</li>
        <li (click)="onClickEdit()">Edit</li>
        <li (click)="onClickDelete()">Delete</li>
        <li>More</li>
    </ul>

    <comment-create-component *ngIf="showReply"
    [post]="post"
    [comment]="comment"
    (create)=" onCreate( $event ) "
    ></comment-create-component>


</div>

