<section class="job-list-page">

    <div class="job-list-page-header mb-3">
        <div class="d-flex justify-content-between bg-white">
            <h3 class="title m-0 p-3 lightblack">Job</h3>
            <div class="text-right fs-xs flex flex-column justify-content-between">
                <a class="p-2 blue" id="post-list-create-button" href="/job/create" routerLink="/job/create">{{ app.text('create_a_post') }}</a>
                <div class="pr-2 pb-2 fs-sm">Page 1. 438 posts.</div>
            </div>
        </div>
        <small>This is job forum.</small>
    </div>

    <nav class="search-option">
        <button type="button" class="btn btn-primary btn-sm" (click)="onClickProfession()">Profession</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="onClickLocation()">Location</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="onClickMore()">More Option</button>
    </nav>

    <form [formGroup]="formGroup" novalidate class="search-form">
        <div class="row-container" >
            <label class="text">Gender</label>
            <div class="input">
                <label class="form-check-inline">
                    <input type="checkbox" id="male" formControlName="male"> Male
                </label>
                <label class="form-check-inline">
                    <input type="checkbox" id="female" formControlName="female"> Female
                </label>
            </div>
        </div>

        <div class="row-container">
            <label class="text" for="experience">Experience</label>
            <div class="input">
                <select class="form-control" id="experience" formControlName="experience">
                    <option value="all">All</option>
                    <option value="0">No Work Experience</option>
                    <option *ngFor="let number of numbers" [value]="number+''">{{number}} years</option>
                </select>
            </div>
        </div>


        <div class="row-container">
            <label class="text"  for="profession">Profession</label>
            <div class="input">
                <select class="form-control" id="profession" formControlName="profession">
                    <option value="all">All</option>
                    <option value="housemaid">House Maid</option>
                    <option value="driver">Driver</option>
                    <option value="babysitter">Babysitter</option>
                </select>
            </div>
        </div>

        <div class="row-container">
            <label class="text">Province</label>
            <div class="input">
                <select class="form-control" id="searchByProvince" formControlName="province" (change)="onClickProvince()">
                    <option value="all">All</option>
                    <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
                </select>
            </div>
        </div>

        <div class="row-container" *ngIf="showCities">
            <label class="text" *ngIf="showCities">City</label>
            <div class="input">
                <select class="form-control" id="city" formControlName="city">
                    <option *ngFor="let key of cityKeys" [value]="key">{{cities[key]}}</option>
                </select>
            </div>
        </div>

        <div class="row-container">
            <label class="text">Age Range</label>
            <div class="input">
                <label class="range text">Min</label>
                <div class="range input">
                    <select class="form-control" id="searchByMinAge" formControlName="minAge" (change)="minRangeChange()">
                        <option [value]="18">{{minAge}}</option>
                        <option *ngFor="let min of minAgeRange" [value]="min+minAge">{{min+minAge}}</option>
                    </select>
                </div>
                <label class="range text">Max</label>
                <div class="range input">
                    <select class="form-control" id="searchByMaxAge" formControlName="maxAge" (change)="maxRangeChange()">
                        <option *ngFor="let max of maxAgeRange" [value]="max+betweenAge">{{max+betweenAge}}</option>
                        <option [value]="maxAge">{{maxAge}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row-container">
            <label for="name" class="text">Name</label>
            <div class="input">
                <input class="form-control" type="text" id="name" formControlName="name" placeholder="Input Name...">
            </div>
        </div>

        <div class="row-container">
            <label for="name" class="text">My Post</label>
            <div class="input">
                <div class="btn btn-primary btn-sm my-post" (click)="onClickShowMyPost()">Show My Posts</div>
            </div>
        </div>

        <i class="close fa fa-times" (click)=" searchBy = {} "></i>

    </form>
    <div class="pages" *ngIf="pages">
        <div class="page" *ngFor="let page of pages">

            <div class="posts clearfix">
                <div class="post  mb-2 w-50  float-left" *ngFor="let post of page.posts " [attr.post-id]="post.ID" (click)=" post.active = ! post?.active">
                    <div class="profile card mx-1 p-2">
                        <div id="profile-user">
                            <span id="profile-user-photo">
                                <img src="{{post?.files[0]?.url ? post.files[0]['url'] : urlPhoto}}" #photoImg  (error)="photoImg.src = post.files[0]['url'] ">
                            </span>
                        </div>
                        <div id="profile-info">
                            <div class="">{{ post?.fullname }}</div>
                            <div class="">Profession: {{ post?.profession }}</div>
                            <div class="">Mobile: {{post?.mobile}}</div>
                            <div class=""  *ngIf="post.active">Experience: {{post?.experience }} years</div>
                            <div class=""  *ngIf="post.active">Address: {{post?.address}}</div>
                            <div class=""  *ngIf="post.active">Province: {{post?.province}}</div>
                            <div class=""  *ngIf="post.active">City: {{post?.city}}</div>
                            <div class=""  *ngIf="post.active">Message: {{post?.message}}</div>
                        </div>
                        <div class="card-footer" *ngIf=" post.active " >
                            <!--div class="nav-click" (click)="onClickDelete( $event, post )"><i class="fa fa-trash-o"></i> Delete</div-->
                            <!--<div class="nav-click" (click)="onClickEdit( $event, post )"><i class="fa fa-pencil"></i> Update Post</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div *ngIf="inLoading" class="p-5">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> loading...
</div>

<div *ngIf="noMorePosts">
    <h3>No more posts ... !</h3>
</div>
