<section class="job-list-page">

    <nav class="search form-inline">
        <div class="active">
            <label class="mr-sm-2" for="profession">I look for</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="profession" name="profession" [(ngModel)]="profession" >
                <option value="all">Profession</option>
                <option value="housemaid">Housemaid</option>
                <option value="driver">Driver</option>
                <option value="babysitter">Babysitter</option>
            </select>
        </div>
        <div class="more" [class.active]=" profession != 'all'">
            <label class="mr-sm-2" for="province">lives in</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="province" [(ngModel)]="province" >
                <option value="all">All</option>
                <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
            </select>
        </div>

        <div class="more" [class.active]=" profession != 'all'">
            <label class="mr-sm-2" for="city" *ngIf="showCities">city of</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="city" [(ngModel)]="city"  *ngIf="showCities">
                <option *ngFor="let key of cityKeys" [value]="key">{{cities[key]}}</option>
            </select>
        </div>

        <div class="more" [class.active]=" profession != 'all'">
            <label class="mr-sm-2" for="minAge">age between</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="minAge" [(ngModel)]="minAgeSelected" >
                <option [value]="minAge">{{minAge}}</option>
                <option *ngFor="let min of minAgeRange" [value]="min+minAge">{{min+minAge}}</option>
            </select>
        </div>

        <div class="more" [class.active]=" profession != 'all'">
            <label class="mr-sm-2" for="maxAge">and</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="maxAge" [(ngModel)]="maxAgeSelected" >
                <option *ngFor="let max of maxAgeRange" [value]="max+betweenAge">{{max+betweenAge}}</option>
                <option [value]="maxAge">{{maxAge}}</option>
            </select>
        </div>

        <div class="more" [class.active]=" profession != 'all'">
            <label class="mr-sm-2" for="gender">Gender</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="gender" [(ngModel)]="gender"  >
                <option value="all">Both</option>
                <option value="m">Male</option>
                <option value="f">Female</option>
            </select>
        </div>

        <div class="more" [class.active]=" profession != 'all'">
            <label class="mr-sm-2" for="experience">Experience</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="experience" [(ngModel)]="experience" >
                <option value="all">All</option>
                <option value="0">'No Work Experience'</option>
                <option *ngFor="let number of numbers" [value]="number+''">{{number}} years</option>
            </select>
        </div>
    </nav>
    <div class="pages" *ngIf="pages">
        <div class="page" *ngFor="let page of pages">

            <div class="job-list-page-header mb-3">
                <div class="d-flex justify-content-between bg-white">
                    <h3 class="title m-0 p-3 lightblack">Job</h3>
                    <div class="text-right fs-xs flex flex-column justify-content-between">
                        <div class="p-2 blue" id="post-list-create-button" (click)="onClickPostCreate()">{{ app.text('create_a_post') }}</div>
                        <div class="pr-2 pb-2 fs-sm">Page 1. 438 posts.</div>
                    </div>
                </div>
                <small>This is job forum.</small>
            </div>

            <div class="posts">
                <div class="post" *ngFor="let post of page.posts " [attr.post-id]="post.ID">

                    <div class="card"  (click)=" post.active = ! post?.active">
                        <img class="" src="{{post?.files[0]?.url ? post.files[0]['url'] : urlPhoto}}" #photoImg  (error)="photoImg.src = post.files[0]['url'] ">
                        <div class="">
                            <p class="">{{ post?.fullname }}</p>
                            <p class="">{{ post?.profession }}</p>
                            <p class="">Mobile : {{post?.mobile}}</p>
                            <p class=""  *ngIf="post.active">Experience : {{post?.experience }} years</p>
                            <p class=""  *ngIf="post.active">Address : {{post?.address}}</p>
                            <div class="text"     *ngIf="post.active">Province : {{post?.province}}</div>
                            <p class="card-text"  *ngIf="post.active">City : {{post?.city}}</p>
                        </div>
                        <div class="card-footer" *ngIf=" post.active " >
                            <!--div class="nav-click" (click)="onClickDelete( $event, post )"><i class="fa fa-trash-o"></i> Delete</div-->
                            <!--<div class="nav-click" (click)="onClickEdit( $event, post )"><i class="fa fa-pencil"></i> Update Post</div>-->
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>



<div *ngIf="inLoading" class="p-5">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> loading...
</div>

<div *ngIf="noMorePosts">
    <h3>No more posts ... !</h3>
</div>
