.comment-view {
    margin-top: 1em;
    border: 1px solid grey;
    padding: 1em;

ul {
    @include list-line();
    @include list-dots();
}
}


[depth="0"] { margin-left: 0; }
[depth="1"] { margin-left: 1em; }
[depth="2"] { margin-left: 2em; }
[depth="3"] { margin-left: 3em; }
[depth="4"] { margin-left: 3.3em; }
[depth="5"] { margin-left: 3.6em; }
[depth="6"] { margin-left: 3.9em; }
[depth="7"] { margin-left: 4.1em; }
[depth="8"] { margin-left: 4.4em; }
[depth="9"] { margin-left: 4.6em; }
[depth="10"] { margin-left: 4.8em; }
[depth="11"] { margin-left: 5.0em; }
[depth="12"] { margin-left: 5.2em; }
[depth="13"] { margin-left: 5.4em; }
[depth="14"] { margin-left: 5.6em; }
[depth="15"] { margin-left: 5.6em; }
[depth="16"] { margin-left: 5.6em; }
[depth="17"] { margin-left: 5.6em; }
[depth="18"] { margin-left: 5.6em; }
[depth="19"] { margin-left: 5.6em; }
[depth="20"] { margin-left: 5.6em; }



.comment-content {
    word-break: break-all;
}