
.page-no {
    margin: 1em 0;
    padding: 1em;
    background-color: #eee;
}


.page .post {
    padding: 1em;
    border-bottom: 1px solid grey;
}

.post-title {
    word-break: break-all;
}
.post-content {
    word-break: break-all;
}
