.post-list-full-widget {
    .post-list-page-header {
        .title {
            font-weight: 300;
            font-size: $font-size-title-md;
            color: grey;
        }
    }
    .page .post {
        padding: 1em;
        border-bottom: 1px solid grey;
    }
}
