<section class="post-list-full-widget" id="post-list-{{this.slug}}">

    <div class="pages" *ngIf="pages">
        <div class="page" *ngFor="let page of pages">

            <div class="post-list-page-header mb-3">
                <div class="d-flex justify-content-between bg-white">
                    <h3 class="title m-0 p-3 lightblack">{{ app.text(this.slug) }}</h3>
                    <div class="text-right fs-xs flex flex-column justify-content-between">
                        <div class="p-2 blue" id="post-list-create-button" (click)="onClickPostCreate()">{{ app.text('create_a_post') }}</div>
                        <div class="pr-2 pb-2 fs-sm">Page {{ page.paged }}. Total {{ page.found_posts }} posts.</div>
                    </div>
                </div>
                <small>{{ app.text( this.slug + '_description' ) }}</small>
            </div>

            <div class="posts">
                <div class="post" *ngFor="let post of page.posts" [attr.post-id]="post.ID">
                    <post-view-widget *ngIf=" post.ID != except?.ID " [post]="post" [page]="page"></post-view-widget>
                </div>
            </div>
        </div>
    </div>
</section>



<div *ngIf="inLoading" class="p-5">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> loading...
</div>

<div *ngIf="noMorePosts">
    <h3>No more posts ... !</h3>
</div>
