*:focus {
    outline: none;
}

button:focus {
    /// for chrome
    outline: 0 !important;
}

a {
    text-decoration: none!important;
}

html,
body {
    background-color: #e9ebee;
}

input[type=file] {
    cursor: pointer;
}
