.box {
    padding: $box-padding-y $box-padding-x;
    box-sizing: border-box;
    background-color: $box-background-color;
}

.box-menu {
    margin-bottom: $box-padding-y;
    font-size: $font-size-sm;
    ul {
        @include list-style-none();
    }
}


.login-or-register {
    ul {
        @include list-line();
        @include list-dots();
    }
}


.advertisement-menu {
    display: flex;
    justify-content: space-between;
}


.link-primary {
    color: #35F;
}
.link-secondary {
    color: #777;
}