

/// show hide


.hidden-360-down {
    display: none !important;
    @media ( min-width: 361px ) {
        display: initial !important;
    }
}
.hidden-320-down {
    display: none !important;
    @media ( min-width: 321px ) {
        display: initial !important;
    }
}


////

.box {
    padding: $global-padding;
    box-sizing: border-box;
    background-color: $box-background-color;
}

.box-menu {
    margin-bottom: $global-padding;
    font-size: $font-size-sm;
    ul {
        @include list-style-none();
    }
}

.login-or-register {
    ul {
        @include list-line();
        @include list-dots();
    }
}


.link-primary {
    color: #35F;
}

.link-secondary {
    color: #777;
}



.post-title {
    word-wrap: break-word;
}

.post-content {
    word-wrap: break-word;
}


/**
 *
 * FONT
 *
 */
.fs-xs {
    font-size: $fs-xs;
}

.fs-sm {
    font-size: $fs-sm;
}

.fs-md {
    font-size: $fs-md;
}

.fs-lg {
    font-size: $fs-lg;
}

.fs-xl {
    font-size: $fs-xl;
}

.fw-normal {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}



/**
 *
 * TEXT
 * Use bootstrap text-xxxxx
 *
 *
 */
.word-break-all {
    word-break: break-all;
}
.break-word {
    word-wrap: break-word;
}
.white-space-nowrap {
    white-space: nowrap;
}
.ellipsis {
    max-width: 100px;   /// need to adjust
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
 *
 * PADDING
 * Use bootstrap p-1 m-1 px-1 py-1 etc...
 */
/**
 * POSITION
 */
 .relative {
     position: relative!important;
 }
 .absolute {
     position: absolute!important;
 }
.fixed {
    position: fixed;
}
.top {
    top: 0!important;
}
.right{
    right: 0!important;
}

.top-10px { top: 10px!important; }
.top-20px { top: 20px!important; }
.top-30px { top: 30px!important; }
.top-40px { top: 40px!important; }
.top-50px { top: 50px!important; }


/**
 *
 * FLEX
 *
 */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}



/**
 *
 * CURSOR
 *
 */
.pointer {
    cursor: pointer;
}
.pointers {
    &>* {
        cursor: pointer;
    }
}



/**
 *
 * LIST
 *
 */
.list-style-none {
    @include list-style-none();
}
.list-line {
    @include list-line();
}
.list-dots {
    @include list-dots();
}


/**
 * Size, Width, Height
**/

.h-32px {
    height: 32px;
}
.line-height-32px {
    line-height: 32px;
}
.lh-32px {
    height: 32px;
    line-height: 32px;
}
.w-32px {
    width: 32px;
}
.size-32px {
    width: 32px;
    height: 32px;
}

.h-36px {
    height: 36px;
}
.w-36px {
    width: 36px;
}
.size-36px {
    width: 36px;
    height: 36px;
}
.size-48px {
    width: 48px;
    height: 48px;
}

.h-5em {
    height: 5em;
}
.h-10em {
    height: 10em;
}
.h-15em {
    height: 15em;
}



.w-100px { width: 100px; }
.h-100px { height: 100px; }
.xy-100px { width: 100px; height: 100px; }
.xy-50px { width: 50px; height: 50px; }

.min-width-50px { min-width: 50px!important; }
.min-width-100px { min-width: 100px!important; }
.min-width-150px { min-width: 150px!important; }
.min-width-200px { min-width: 200px!important; }
.min-width-250px { min-width: 250px!important; }

.max-width-50px { max-width: 50px!important; }
.max-width-100px { max-width: 100px!important; }
.max-width-150px { max-width: 150px!important; }
.max-width-200px { max-width: 200px!important; }
.max-width-250px { max-width: 250px!important; }


.photo-icon-2x {
    width: 40px;
    height: 40px;
}

.photo-icon {
    width: 32px;
    height: 32px;
}


/**
 *
 * BOX
 *
 */

.overflow-hidden {
    overflow: hidden;
}



/// border

.border-radius-50 {
    border-radius: 50%;
}


////
.box-border {
    border: 1px solid #ccc;
}



/// hover

.hover-blue:hover {
    background-color: blue;
    color: white;
}



//// nav.loader

nav.loader {
    display: block;
    margin: .5em 0 .25em;
    i {
        color: blue;
    }
    span {
        
    }
}