body {
    margin: 0;
    padding: 0;
}

section.page {
    background-color: $background-color;
    section.page-header {
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
        height: $header-height;
        border-bottom: $header-border-bottom-height solid $background-color;
        overflow: hidden;
    }
    section.page-body {
        margin-top: $header-height - $header-border-bottom-height;
        padding: 8px;
        width: 100%;
    }
}

.page-body-content {
    position: relative;
    .page-body-content-layout {
        position: relative;
        max-width: $layout-max-width;
        margin: 0 auto;
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
    .a {
        display: none;
    }
    .b {}
    .c {
        display: none;
    }
    .d {
        display: none;
    }
    @media (min-width: $break-a) {
        .a {
            display: block;
            float: left;
            width: $a-width;
            overflow: hidden;
        }
        .b {
            margin-left: $a-width + $box-padding-x;
            overflow: hidden;
        }
    }
    @media (min-width: $break-c) {
        .b {
            margin-right: $c-width + $box-padding-x;
        }
        .c {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: $c-width;
        }
    }
}

@media (min-width: $break-d) {
    [layout="column"] {
        .b {
            margin-right: $c-width + $d-width + $box-padding-x;
        }
        .c {
            right: $d-width;
        }
        .d {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: $d-width;
        }
    }
}

.wide .page-body-content {
    .b {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}


/// left sidebar

.fix-sidebar-a {
    position: fixed;
    width: $a-width;
    height: 100%;
    overflow: hidden;
    .copyright {
        position: absolute;
        z-index: 1999;
        background-color: white;
        bottom: $header-height - 100px;
        border-bottom: 100px solid white; /// 100px 은 크롬에서 스크롤을 할 때, 맨 밑 바닥에서 위로 스크를을 하면, 왼쪽 스크롤을 할 때, 밑에 숨겨진 내용들이 보인다. 그것을 숨기기 위한 것이다.
    }
}
.fix-sidebar-c {
    position: fixed;
    width: $c-width;
}
.fix-sidebar-d {
    position: fixed;
    width: $d-width;
}


///
/// page title, description

.jumbotron {
    background-color: white !important;
    .lead {
        font-size: $font-size-md;
    }
}