body {
    margin: 0;
    padding: 0;
}

$header-height: 64px;
$header-border-bottom-height: 8px;
section.page {
    background-color: $background-color;
    section.page-header {
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
        height: $header-height;
        border-bottom: $header-border-bottom-height solid $background-color;
        overflow: hidden;
    }
    section.header-panel-menu {
        position: fixed;
        z-index: 888;
        top: $header-height;
        left: 0;
        right: 0;
        background-color: rgba(13, 128, 191, 0.93);
    }
    section.page-body {
        margin-top: $header-height - $header-border-bottom-height;
        padding: 8px;
        width: 100%;
    }
}

$break-a: 600px;
$break-c: 840px;
$break-d: 1100px;
$layout-max-width: 1240px;
$a-width: 160px;
$c-width: 280px;
$d-width: 160px;
.layout-grid {
    position: relative;
    .grid-wrapper {
        position: relative;
        max-width: $layout-max-width;
        margin: 0 auto;
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
    .a {
        display: none;
    }
    .b {}
    .c {
        display: none;
    }
    .d {
        display: none;
    }
    @media (min-width: $break-a) {
        .a {
            display: block;
            float: left;
            width: $a-width;
            overflow: hidden;
        }
        .b {
            margin-left: $a-width + $box-padding-x;
            overflow: hidden;
        }
    }
    @media (min-width: $break-c) {
        .b {
            margin-right: $c-width + $box-padding-x;
        }
        .c {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: $c-width;
        }
    }
    @media (min-width: $break-d) {
        .b {
            margin-right: $c-width + $d-width + $box-padding-x;
        }
        .c {
            right: $d-width;
        }
        .d {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: $d-width;
            background-color: #aca;
        }
    }
}
