
$background-color: #e9ebee;


// font size of content
$font-size-xs: 0.8em;
$font-size-sm: 0.9em;
$font-size-md: 1em;
$font-size-lg: 1.1em;
$font-size-xl: 1.3em;
// font size of title
$font-size-title-xs: 1em;
$font-size-title-sm: 1.2em;
$font-size-title-md: 1.5em;
$font-size-title-lg: 2em;
$font-size-title-xl: 2.5em;




/// padding
$global-padding: 8px;


/// box
$box-background-color: #fff;


/// breaks
$break-a: 600px;
$break-c: 840px;
$break-d: 1100px;
$a-width: 160px;
$c-width: 280px;
$d-width: 220px;
$layout-max-width: 1240px;
$mobile-width: 360px;





/// units

$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


/// header
$header-height: 52px;
$header-border-bottom-height: 8px;
$header-inner-height: $header-height - $header-border-bottom-height;