$background-color: #e9ebee;

$font-size-xs: 9pt;
$font-size-sm: 10pt;
$font-size-md: 11pt;
$font-size-lg: 12pt;
$font-size-xl: 13pt;



/// box
$box-padding-x: 9px;
$box-padding-y: 8px;
$box-background-color: #fff;



