<section class="page-header">
    <nav>
        <div class="d-flex justify-content-between">
            <div class="left">
                <a class="header-icon logo" href="/" routerLink="/">
                    <div class="logo-box">S</div>
                    <div class="header-icon-text logo-text">Home</div>
                </a>

                                <div class="header-icon news">
                    <div class="fa-stack fa-lg" (click)=" showPanelMenu = !showPanelMenu ">
                        <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                        <i class="fa fa-gear fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </div>
                    <div class="header-icon-text">News</div>
                </div>

            </div>


            <div class="center align-self-center">{{ title }}</div>
            <div class="right">
                <div class="header-icon user-photo header-icon-width" *ngIf=" app.user.isLogin && app.user.profile.photoURL ">
                    <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <img class="fa fa-stack-1x" style="margin: 2px 0 0 2px; width: 38px; height: 37px; border-radius: 50%;" src="{{ app.user.profile.photoURL }}">
</span>


                    <div class="header-icon-text user-name">{{ app.user.name }}</div>
                </div>
                <div class="header-icon menu">
                    <div class="fa-stack fa-lg" (click)=" showPanelMenu = !showPanelMenu ">
                        <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                        <i class="fa fa-bars fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </div>
                    <div class="header-icon-text">Menu</div>
                </div>
            </div>
        </div>
    </nav>
</section>
<section *ngIf=" showPanelMenu " class="header-panel-menu">
    <ul>
        <li><a class="btn btn-secondary" routerLink="/user">User Profile</a></li>
        <li><a class="btn btn-secondary" routerLink="/user/login">Login</a></li>
        <li><button type="button" (click)="app.user.logout()">Logout</button></li>
        <li><button type="button" routerLink="/user/register">Register Page</button></li>
        <li>
            <a class="btn btn-secondary" href="/forum" routerLink="/forum">Forum page</a>
        </li>
        <li><button type="button" (click)=" showPanelMenu = false ">{{ app.text('close') }}</button></li>
    </ul>
</section>
