<section class="header">
    <nav>
        <div class="d-flex justify-content-between">
            <div class="left">
                <div id="header-logo-text"><a href="/" routerLink="/">S</a></div>
            </div>
            <div class="center align-self-center">{{ title }}</div>
            <div class="right">
                <span id="header-user-photo" *ngIf=" app.user.isLogin && app.user.profile.photoURL ">
                    <img src="{{ app.user.profile.photoURL }}">
                </span>
                <span class="fa-stack fa-lg" (click)=" showPanelMenu = !showPanelMenu ">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-bars fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </nav>
</section>
<section *ngIf=" showPanelMenu " class="header-panel-menu">
    <ul>
        <li><a class="btn btn-secondary" routerLink="/user">User Profile</a></li>
        <li><a class="btn btn-secondary" routerLink="/user/login">Login</a></li>
        <li><button type="button" (click)="app.user.logout()">Logout</button></li>
        <li><button type="button" routerLink="/user/register">Register Page</button></li>
        <li>
            <a class="btn btn-secondary" href="/forum" routerLink="/forum">Forum page</a>
        </li>
        <li><button type="button" (click)=" showPanelMenu = false ">{{ app.text('close') }}</button></li>
    </ul>
</section>
