$header-background-color: #0A5561;
$icon-width: 30px;
$icon-width-on-wide: 26px;
$header-content-height: 24px;
.page-header {
    color: white;
    .page-header-container-center {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0 2px 0 8px;
        @media ( min-width: $break-d) {
            max-width: $layout-max-width;
            padding-right: $d-width;
        }
        @media ( min-width: $layout-max-width) {
            margin: 0 auto;
            max-width: $layout-max-width;
            padding-right: $d-width;
        }
    }
    .page-header-container {
        /// layout
        height: $header-inner-height;
        overflow: hidden;
        background-color: $header-background-color;
        .left,
        .center,
        .right {
            position: relative;
            height: $header-inner-height;
            line-height: $header-inner-height;
        }
    }
    .center {
        a {
            display: inline-block;
            padding: 0 .4em;
            color: white;
            font-weight: 300;
            font-size: $font-size-xs;
        }
    }
    .fa {
        display: inline-block;
        padding: 10px 0;
        width: $icon-width;
        text-align: center;
    }
    .fa-search {
        width: 14px;
    }
    input {
        position: relative;
        top: -2px;
        padding-left: 4px;
        width: 120px;
        @media (min-width: 320px) { width: 140px; }
        @media (min-width: 340px) { width: 170px; }
        @media (min-width: $sm) {
            padding-left: 6px;
            width: 240px;
        }
        height: $header-content-height;
        border: 0;
        font-size: $font-size-xs;
    }
    .fa-search {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        top: 0;
        right: 4px;
        width: 14px!important;
        font-size: 10pt;
        z-index: 999;
        color: #888;
        height: $header-inner-height;
        line-height: $header-inner-height;

        @media (min-width: $sm) {
            right: 6px;
        }
    }
    .logo {
        float: left;
        width: 24px;
        text-align: center;
        a {
            display: inline-block;
            width: 22px;
            height: 24px;
            line-height: 24px;
            background-color: white;
            color: $header-background-color;
        }
    }
    @media (min-width: $md) {
        .fa {
            width: $icon-width-on-wide;
        }
    }
    .logo,
    a,
    .fa {
        /// cursor
        cursor: pointer;
    }
}
