$header-background-color: #0A5561;
$icon-width: 32px;
$icon-width-on-wide: 26px;
$header-content-height: 24px;
.page-header {
    color: white;
    .page-header-container {
        /// layout
        height: $header-inner-height;
        overflow: hidden;
        background-color: $header-background-color;
        .left,
        .center,
        .right {
            position: relative;
            height: $header-inner-height;
            line-height: $header-inner-height;
            vertical-align: center;
        }
    }
    .page-header-container-center {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0 $global-padding;
    }
    .center {
        a {
            display: inline-block;
            padding: 0 .4em;
            color: white;
            font-weight: 300;
            font-size: $font-size-sm;
        }
    }
    .fa {
        display: inline-block;
        padding: 10px 0;
        width: $icon-width;
        text-align: center;
        cursor: pointer;
    }
    .fa-search {
        width: 14px;
    }
    
    input {
        padding-left: 4px;
        width: 180px;
        @media (min-width: $sm) {
            padding-left: 6px;
            width: 240px;
        }
        height: $header-content-height;
        border: 0;
        font-size: $font-size-xs;
    }
    .fa-search {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        top: 3px;
        right: 6px;
        width: 14px!important;
        font-size: 10pt;
        z-index: 999;
        color: #888;
        height: $header-inner-height;
        line-height: $header-inner-height;
    }
    .logo {
        display: inline-block;
        margin-left: 4px;
        width: 18px;
        font-size: $font-size-md;
        color: white;
    }


    @media (min-width: $md) {
        .fa {
            width: $icon-width-on-wide;
        }
    }
}
