/// for layout see layout.scss
$header-background-color: #0d47a1;
$header-content-height: 24px;
$header-break-menu: 640px;
/// for layout see layout.scss
.page-header {
    height: $header-inner-height;
    .page-header-container {
        height: $header-inner-height;
        overflow: hidden;
        .page-header-container-center {
            height: $header-inner-height;
            table {
                height: $header-inner-height;
            }
        }
    }
    .menu {
        display: none;
        @media (min-width: $header-break-menu) {
            display: table-cell;
        }
    }
}

/// playcement only. Not layout. Not design.
.page-header {
    // .left {
    //     padding-left: $global-padding;
    // }
    .right {
        padding-right: $global-padding;
        width: 30%;
        text-align: right;
    }
}

/// size, width, height only
.page-header {
    .search-box {
        input {
            @media (min-width: $md) {
                width: 240px;
            }
            @media (min-width: $lg) {
                width: auto;
            }
        }
    }
}

/// design
.page-header {
    color: white;
    .page-header-container {
        background-color: $header-background-color;
    }
    .left {
        .input-group {
            height: 28px;
            .input-group-addon {
                border: 0;
                border-radius: 0;
                height: 28px;
            }
            input {
                border: 0;
                border-radius: 0;
                font-size: $fs-xs;
            }
            .btn {
                padding: 0 4px;
                height: 28px;
                border: 0;
                border-radius: 0;
                background-color: rgba( 155, 155, 155, .6);
            }
            @media (min-width: $lg) {
                width: 340px;
            }
            .input-group-addon {
                background-color: white;
            }
        }
        .links {
            a {
                display: inline-block;
                padding-left: $global-padding;
                color: white;
                font-size: $fs-xs;
            }
        }
        .fa {
            display: inline-block;
            padding: 0 $global-padding;
        }
    }
    .right {
        .fa {
            display: inline-block;
            padding: $global-padding;
        }
        .fa-th-large {
            position: relative;
            top: 1px;
        }
    }
}

/// color
.page-layout[section='forum'] .page-header .page-header-container {
    background-color: #4527a0;
}
.page-layout[section='job'] .page-header .page-header-container {
    background-color: #265C5B;
}




.new-chat {
    animation: blinkChatDot 1s infinite;
}

@keyframes blinkChatDot {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}