$comment-form-grid-margin: 0 0 .4em 0;
$comment-form-grid-height: 36px;
$comment-form-grid-background-color: #eee;
$comment-form-grid-a-width: 36px;
$comment-form-grid-b-c-border-color: #ddd;
$comment-button-icon-padding: 10px;
$comment-button-icon-width: 18px;
$comment-button-width: $comment-button-icon-padding * 2+$comment-button-icon-width;
$comment-form-grid-c-width: $comment-button-width * 2+1 -5; // +1 is for border. -5 is for lesson the space between camera and smile.
.comment-form-grid {
    position: relative;
    margin: $comment-form-grid-margin;
    width: 100%;
    height: $comment-form-grid-height;
    background-color: $comment-form-grid-background-color;
    &>div {
        // border: 1px solid grey;
        height: $comment-form-grid-height;
        overflow: hidden;
    }
    .aa {
        width: $comment-form-grid-a-width;
    }
    .bb {
        position: absolute;
        top: 0;
        left: $comment-form-grid-a-width;
        right: $comment-form-grid-c-width;
        margin-left: 2px;
        input {
            padding: 0 4px;
            width: 100%;
            height: $comment-form-grid-height;
            box-sizing: border-box;
            border: 0;
        }
        border: 1px solid $comment-form-grid-b-c-border-color;
        border-right: 0; // border-bottom: 1px solid $comment-form-grid-b-c-border-color;
        // border-left: 1px solid $comment-form-grid-b-c-border-color;
    }
    .cc {
        position: absolute;
        top: 0;
        right: 0;
        width: $comment-form-grid-c-width;
        border-top: 1px solid $comment-form-grid-b-c-border-color;
        border-bottom: 1px solid $comment-form-grid-b-c-border-color;
        border-right: 1px solid $comment-form-grid-b-c-border-color;
    }
}

.comment-create .buttons {
    .icon {
        position: relative;
        display: block;
        float: left;
        padding: 5px $comment-button-icon-padding;
        .fa.fa-icon-text {
            width: $comment-button-icon-width;
        }
        height: $comment-form-grid-height;
        overflow: hidden;
        cursor: pointer;
    }
    .camera {
        input {
            position: absolute;
            z-index: 100;
            top: 0;
            right: 0; // background-color: blue;
            opacity: 0.001;
            font-size: 10em;
            cursor: pointer;
        }
    }
    .camera {
        padding-right: 7.5px;
    }
    .smile {
        padding-left: 7.5px;
    }
}

.comment-create-user-photo {
    img {
        display: block;
        margin-top: 1px;
        width: $comment-form-grid-a-width;
        height: $comment-form-grid-height - 2;
    }
}


.comment-create .comment-submit {
    button {
        padding: 1em 0;
        width: 100%;
        cursor: pointer;
    }
}