<div class="comment-create">

    <form (ngSubmit)="onSubmit()">

        <div class="comment-form-grid">
            <div class="aa comment-create-user-photo">
                <img src="{{ app.userPhotoUrl }}">
            </div>
            <div class="bb input-box">
                <input #contentBox class="comment-content" name="comment_content" [(ngModel)]="comment_content" (keyup)=" preview.typing.next(contentBox.value)">
            </div>
            <div class="cc buttons">
                <span class="icon camera" (click)="fileUploadWidget.onClickCamera()">
                    <i class="fa fa-icon-text fa-camera" aria-hidden="true"></i>
                    <input *ngIf=" ! app.isCordova " type="file" (change)="fileUploadComponent.onChangeFile($event)">
                </span>
                <span class="icon smile" (click)="true">
                    <i class="fa fa-icon-text fa-smile-o" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </form>



    <site-preview-widget [preview]="preview.result" [edit]="true" [loading]="preview.loading"></site-preview-widget>

    <div class="comment-submit" *ngIf="preview?.id && ( ! files || files?.length == 0 )">
        <button class="btn btn-secondary" (click)="onSubmit()">SUBMIT COMMENT</button>
    </div>


    <!-- 
    <div class="loader" *ngIf=" preview.loading ">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Loading site preview ...
    </div>
    <div class="site-preview" *ngIf=" preview.result ">
        <img class="w-100" src="{{ preview.result.url_image }}">
        <div class="fs-lg">{{ preview.result.title }}</div>
        <div>{{ preview.result.content }}</div>
    </div> -->

    <file-upload-widget #fileUploadWidget [title]="false" [fileSelectionButton]="false" [files]="files"></file-upload-widget>
    <div class="comment-submit" *ngIf="files && files.length">
        <button class="btn btn-secondary" (click)="onSubmit()">SUBMIT COMMENT</button>
    </div>

</div>
