<div class="comment-create">

    <form (ngSubmit)="onSubmit()" >

        <div class="comment-form-grid">
            <div class="a user-phogo">Photo</div>
            <div class="b input-box">
                <input class="comment-content" name="comment_content" [(ngModel)]="comment_content">
            </div>
            <div class="c buttons">

            <span class="camera" (click)="fileUploadComponent.onClickCamera()">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <input *ngIf=" ! app.isCordova " type="file" (change)="fileUploadComponent.onChangeFile($event)">
            </span>

            </div>
        </div>

         <!-- <button type="submit">Submit</button>  -->

    </form>


<file-upload-component
    #fileUploadComponent
    [title]="false"
    [fileSelectionButton]="false"
    [files]="files"
></file-upload-component>

</div>
