<div class="modal-header">
    <h4 class="modal-title">Comment Edit</h4>
    <button type="button" class="close pointer" aria-label="Close" (click)="onClickCancel()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">

    <textarea class="w-100" [(ngModel)]="comment_content" #textareaContent (keyup)="preview.typing.next(textareaContent.value)"></textarea>

</div>





<div class="modal-footer justify-content-between">

    <div>
        <span class="stacked-camera-icon-with-file-box fa-stack fa-lg" (click)="fileUploadWidget.onClickCamera()">
                <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fa fa-camera fa-stack-1x fa-inverse" aria-hidden="true"></i>
                <input *ngIf=" ! app.isCordova " type="file" (change)="fileUploadWidget.onChangeFile($event)">
            </span>
    </div>
    <div>
        <button class="pointer" type="button" (click)="onClickSubmit()">Submit</button>
        <button class="pointer" type="button" (click)="onClickCancel()">Cancel</button>
    </div>

</div>


<hr>

<file-upload-widget #fileUploadWidget [title]="false" [fileSelectionButton]="false" [files]="files"></file-upload-widget>


<site-preview-widget [preview]="preview.result" [edit]="true" [loading]="preview.loading"></site-preview-widget>



<!-- <div class="loader" *ngIf=" preview.loading ">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Loading site preview ...
</div>
<div class="site-preview" *ngIf=" preview.result ">
    <img class="w-100" src="{{ preview.result.url_image }}">
    <div class="fs-lg">{{ preview.result.title }}</div>
    <div>{{ preview.result.content }}</div>
</div> -->
