<loading-widget *ngIf=" ! post " [text]="app.text('post_view_loading')"></loading-widget>

<section class="post-view-widget mb-2" *ngIf="post">

    <div class="post-area bg-white mb-2 p-2">
        <post-header-widget [post]="post" (edit)="onClickPostEdit( post )" (delete)="onClickPostDelete( post, page )"></post-header-widget>
        <h2 class="post-title fs-xl fw-100">{{ post.post_title }}</h2>
        <file-display-widget *ngIf="filePosition == 'top' " [files]="post.files"></file-display-widget>
        <div class="post-content mb-2 fs-sm" [innerHTML]=" post.post_content_pre "></div>
        <file-display-widget *ngIf="filePosition == 'bottom' " [files]="post.files"></file-display-widget>
        <hr class="my-1">
        <site-preview-widget [preview]="post.site_preview"></site-preview-widget>
        <ul class="buttons mb-2 list-line list-dots fs-xs pointers">
            <li *ngIf=" app.my( post ) || app.anonymous( post )" (click)="onClickPostEdit( post )">Edit</li>
            <li *ngIf=" app.my( post ) || app.anonymous( post )" (click)="onClickPostDelete( post, page )">Delete</li>
            <li class="like" (click)="onClickLike( post, 'like' )">Like <span class="badge badge-dark" *ngIf="post.meta['like']">{{ post.meta['like'] }}</span></li>
            <li class="dislike" (click)="onClickLike( post, 'dislike' )">Dislike <span class="badge badge-dark" *ngIf="post.meta['dislike']">{{ post.meta['dislike'] }}</span></li>
            <!-- <li (click)="onClickPostDelete( post )">more</li> -->
            <!--
            <li>report</li>
            <li>favorite</li>
            <li>share</li> -->
        </ul>

        <comment-create-widget [post]="post" (create)="onCommentCreate($event, post)"></comment-create-widget>

    </div>

    <div class="comments" *ngIf="post.comments && post.comments.length">
        <ng-container *ngFor="let comment of post.comments">
            <comment-view-widget [post]="post" [comment]="comment"></comment-view-widget>
        </ng-container>
    </div>


</section>
