<div class="container">
    <h3>{{product?.title}}</h3>
    <button type="button" *ngIf=" app.my(product)">
        <a  href="/buyandsell/edit/{{product?.ID}}" (click)="onClickUpdate(product?.ID)">Update</a>
    </button>


    <div class="text-center mb-1">
        <img class="selected-image w-50 mw-100" src="{{selectedImage}}">
    </div>
    <div>
        <img class="list-image w-25 mb-1"
             *ngFor="let file of product?.files"
             src="{{file.url}}"
             (click)="selectedImage = file.url"
        >
    </div>

    <div class="input-group mb-3">
        <label for="tag" class="input-group-addon">Tag</label>
        <span type="text" class="form-control" id="tag">{{product?.tag}}</span>
    </div>
    <div class="input-group mb-3">
        <label for="description" class="input-group-addon">Desciption</label>
        <span type="text" class="form-control" id="description" style="white-space: pre-line;">{{product?.description}}</span>
    </div>

    <div class="input-group mb-3">
        <label for="province" class="input-group-addon">Location</label>
        <span type="text" class="form-control" id="province">{{product?.province}}</span>
    </div>
    <div class="input-group mb-3">
        <label for="city" class="input-group-addon">City</label>
        <span type="text" class="form-control" id="city">{{product?.city}}</span>
    </div>

    <div class="input-group mb-3">
        <label for="usedItem" class="input-group-addon">Is it Used</label>
    <span type="text" class="form-control" id="usedItem">{{used}}</span>
    </div>
    <div class="input-group mb-3">
        <label for="deliverable" class="input-group-addon">Can it be Delevered</label>
        <span type="text" class="form-control" id="deliverable">{{deliverable}}</span>
    </div>

    <div class="input-group mb-3">
        <label for="price" class="input-group-addon">Price</label>
        <span type="text" class="form-control" id="price">{{product?.price}}</span>
    </div>

    <div class="input-group mb-3">
        <label for="contact" class="input-group-addon">Contact Information</label>
        <span type="text" class="form-control" id="contact">{{product?.contact}}</span>
    </div>

</div>
