<div class="modal-body">

    <div class="relative">
        <div class="modal-title mr-4"><input class="w-100" type="text" name="post_title" [(ngModel)]="post_title"></div>
        <button class="close absolute top-right pl-2 pointer" type="button" aria-label="Close" (click)="onClickCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf=" ! app.user.isLogin " class="anonymouse-form">
        Author Name: <input type="text" name="post_author_name" [(ngModel)]="post_author_name"><br> Author Email:
        <input type="email" name="post_author_email" [(ngModel)]="post_author_email"><br> Author Mobile No.: <input type="text"
            name="post_author_phone_number" [(ngModel)]="post_author_phone_number"><br> Password: <input type="password" name="post_password"
            [(ngModel)]="post_password"><br>
    </div>




    <div class="mt-2">
        <textarea class="w-100" name="post_content" [(ngModel)]="post_content" #textareaPostContent (keyup)="contentInput(textareaPostContent.value)"></textarea>
    </div>

<!--     
        <select class="form-control form-control-sm">
                    <option value="">{{ app.text('choose_forum') }}</option>
                    <option value="discussion">{{ app.text('discussion') }}</option>
                    <option value="qna">{{ app.text('qna') }}</option>
                    <option value="news">{{ app.text('news') }}</option>
                  </select> -->
                  
</div>
<div class="modal-footer justify-content-between">

    <div>
        <span class="stacked-camera-icon-with-file-box fa-stack fa-lg" (click)="fileUploadWidget.onClickCamera()">
                <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fa fa-camera fa-stack-1x fa-inverse" aria-hidden="true"></i>
                <input *ngIf=" ! app.isCordova " type="file" (change)="fileUploadWidget.onChangeFile($event)">
            </span>
    </div>
    <div>
        <button *ngIf="options.category" type="submit" class="btn btn-secondary" (click)="onClickSubmit()">Submit Post</button>
        <button *ngIf="options.post" type="submit" class="btn btn-secondary" (click)="onClickEdit()">Edit Post</button>
        <button type="button" class="btn btn-secondary" (click)="onClickCancel()">Cancel</button>
    </div>

</div>


<hr class="mx-2" *ngIf="files && files.length">

<file-upload-widget #fileUploadWidget [title]="false" [fileSelectionButton]="false" [files]="files" [post_password]="post_password"></file-upload-widget>

