<div class="modal-body">
    <!-- <button class="close absolute top-right pl-2 pointer" type="button" aria-label="Close" (click)="onClickCancel()">
        <span aria-hidden="true">&times;</span>
    </button> -->


    <div class="mb-2">{{ app.text( options.category ) }}</div>
    <div class="modal-title"><input class="px-1 w-100" type="text" name="post_title" [(ngModel)]="post_title" (keyup)="titleInput()" placeholder="{{ app.text('input_title') }}"></div>

    <div *ngIf=" ! app.user.isLogin " class="anonymouse-form">
        <div class="container m-0 p-0">
            <div class="row mt-2 mb-1">
                <div class="col-4 fs-sm">{{ app.text('name') }}</div>
                <div class="col-8"><input class="w-100" type="text" name="post_author_name" [(ngModel)]="post_author_name"></div>
            </div>
            <div class="row my-1">
                <div class="col-4 fs-sm">{{ app.text('email') }}</div>
                <div class="col-8"><input class="w-100" type="email" name="post_author_email" [(ngModel)]="post_author_email"></div>
            </div>
            <div class="row my-1">
                <div class="col-4 fs-sm">{{ app.text('mobile_no') }}</div>
                <div class="col-8"><input class="w-100" type="text" name="post_author_phone_number" [(ngModel)]="post_author_phone_number"></div>
            </div>
            <div class="row mt-1 mb-2">
                <div class="col-4 fs-sm">{{ app.text('password') }}</div>
                <div class="col-8"><input class="w-100" type="password" name="post_password" [(ngModel)]="post_password"></div>
            </div>
        </div>
    </div>




    <div class="mt-2">
        <textarea class="p-1 w-100 h-10em" [class.h-15em]=" longthenContent " name="post_content" [(ngModel)]="post_content"
            #textareaPostContent
            (keyup)="contentInput(textareaPostContent.value)"
            placeholder="{{ app.text('input_content') }}"></textarea>
    </div>

</div>
<div class="modal-footer justify-content-between">

    <div>
        <span class="stacked-camera-icon-with-file-box fa-stack fa-lg" (click)="fileUploadWidget.onClickCamera()">
                <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fa fa-camera fa-stack-1x fa-inverse" aria-hidden="true"></i>
                <input *ngIf=" ! app.isCordova " type="file" (change)="fileUploadWidget.onChangeFile($event)">
            </span>
    </div>
    <div>
        <button *ngIf="options.category" type="submit" class="post-create-button btn btn-secondary" (click)="onClickSubmit()">{{ app.text('submit_post') }}</button>
        <button *ngIf="options.post" type="submit" class="post-edit-button btn btn-secondary" (click)="onClickEdit()">{{ app.text('update_post') }}</button>
        <button type="button" class="post-cancel-button btn btn-secondary" (click)="onClickCancel()">{{ app.text('cancel') }}</button>
    </div>

</div>


<hr class="m-0" *ngIf="files && files.length">

<file-upload-widget #fileUploadWidget [title]="false" [fileSelectionButton]="false" [files]="files" [post_password]="post_password"></file-upload-widget>

<site-preview-widget [preview]="preview.result" [edit]="true" [loading]="preview.loading"></site-preview-widget>
