.advertisement-side-bar {
    img {
        width: 100%;
    }
}

#toast {
    position: fixed;
    z-index: 9999;
    display: none;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    background-color: white;
    &.show {
        display: block;
        height: auto;
    }
    #toast-content {
        padding: $global-padding * 2;
        border-top: 2px solid #5d99c6;
        background-color: #90caf9;
        color: black;
        font-size: $fs-xs;

        .cap {
            display: inline-block;
            width: 18px;
            height: 18px;
            line-height: 18px;
            vertical-align: middle;
            text-align: center;
            border-radius: 50%;
            background-color: white;
        }
    }

    @media ( min-width: $md ) {
        width: 360px;
        left: auto;
        border-left: 2px solid #5d99c6;
    }
}
