.my-menu {
    .profile {
        img {
            width: 24px;
            height: 24px;
        }
    }
}

.news-menu {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-xs;
}

.news-list {
    ul {
        li {
            margin-top: $box-padding-y;
            line-height: 1em;
            height: 2.4em;
            overflow: hidden;
            .post-title {
                padding-top: .1em;
                height: 2em;
                line-height: 1.1em;
                overflow: hidden;
            }
            a {
                display: flex;
                .post-title {
                    margin-left: $box-padding-x;
                }
            }
        }
    }
}

.advertisement-side-bar {
    img {
        width: 100%;
    }
}