<section class="page" [attr.layout]="app.pageLayout">
    <header-widget #headerWidget [title]=" app.text('sonub') "></header-widget>

    <section class="page-body">

        <div class="page-body-content" [class.page-body-content-wide]=" app.pageLayout == 'wide' ">
            <div class="page-body-content-layout">
                <ng-container *ngIf=" app.pageLayout == 'column' || app.pageLayout == 'advertisement' ">
                    <div class="a">
                        <div class="box box-menu login-or-register" *ngIf="!app.user.isLogin">
                            <ul>
                                <li><a href="/user/login" routerLink="/user/login">Login</a></li>
                                <li><a href="/user/register" routerLink="/user/register">Register</a></li>
                            </ul>
                        </div>

                        <div class="box box-menu my-menu" *ngIf="app.user.isLogin">
                            <ul class="fs-sm">
                                <li class="profile mb-1">

                                    <a class="flex" href="/user/profile" routerLink="/user/profile">
                                        <ol class="list-line">
                                            <li><img class="size-32px" src="{{ app.userProfilePhotoUrl }}"></li>
                                            <li>
                                                <div class="pl-2 w-100px lh-32px fs-sm ellipsis">{{ app.user.name }}: this is my name</div>
                                            </li>
                                        </ol>
                                    </a>

                                </li>
                                <li><a href="/user/message" routerLink="/user/message"><i class="fa fa-envelope" aria-hidden="true"></i> Message</a></li>
                                <li><a href="/user/settings" routerLink="/user/settings">
                                    <i class="fa fa-gears" aria-hidden="true"></i>
                                    Settings</a></li>
                            </ul>
                        </div>

                        <div class="box box-menu my-forum">
                            <ul class="fs-sm list-dots">
                                <li><a href="/forum" routerLink="/forum">Forum Page</a></li>
                                <li><a href="/forum/qna" routerLink="/forum/qna">QnA Forum</a></li>
                                <li><a href="/forum/discussion" routerLink="/forum/discussion">Discussion Forum</a></li>
                                <li><a href="/forum/news" routerLink="/forum/news">News Forum</a></li>
                            </ul>
                        </div>

                        <div>My Activity</div>

                    </div>
                </ng-container>
                <div class="b">
                    <router-outlet></router-outlet>
                </div>
                <ng-container *ngIf=" app.pageLayout == 'column' ">
                    <div class="c">
                        <div class="box box-menu birthdays">
                            <i class="fa fa-birthday-cake" aria-hidden="true"></i> Birthday: Jaeho and 2 other
                        </div>

                            <div class="box box-menu">
                                <post-latest-widget
                                [category]=" 'news' "
                                [title]=" app.text('headline_news') "
                                [titleCreate] = " app.text( 'create_post', { category: app.text('news') } ) "
                                ></post-latest-widget>
                            </div>
                            <div class="box box-menu">
                                <post-latest-widget [category]=" 'qna' "

                                [title]=" app.text('qna') "
                                [titleCreate] = " app.text( 'create_question' ) "

                                ></post-latest-widget>
                            </div>


                        <div class="box box-menu advertisement">
                            <ul class="advertisement-menu">
                                <li><a class="link-secondary" href="/adv/howto" routerLink="/adv/howto">Sponsered</a></li>
                                <li><a class="link-primary" href="/adv/create" routerLink="/adv/create">Create Ad</a></li>
                            </ul>

                            <advertisement-sidebar-widget [post]="advSidebar"></advertisement-sidebar-widget>
                        </div>


                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br> Sponsers ...
                        <br>&nbsp;<br>
                    </div>
                </ng-container>

                <ng-container *ngIf=" app.pageLayout == 'advertisement' ">
                    <div class="c">
                        <h4>Advertisement Sidebar</h4>
                        <h4>Advertisement Sidebar</h4>
                        <h4>Advertisement Sidebar</h4>
                        <h4>Advertisement Sidebar</h4>
                        <h4>Advertisement Sidebar</h4>
                        <h4>Advertisement Sidebar</h4>
                    </div>
                </ng-container>
            </div>
            <!--/page-body-content-layout-->

            <ng-container *ngIf=" app.pageLayout == 'column' ">
                <div class="d">
                    A<br> B
                    <br> C
                    <br> D
                    <br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Friend History ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br> Chats ...
                    <br>&nbsp;<br>
                </div>
                <!--/d-->
            </ng-container>
        </div>
        <!--/page-body-content-->


    </section>
    <!--/page-body-->


</section>
<!--/page-->



<ng-template ngbModalContainer></ng-template>
