#toast {
    position: fixed;
    z-index: 9999;
    display: none;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    background-color: white;
    &.show {
        display: block;
        height: auto;
    }
    #toast-content {
        padding: $global-padding * 2;
        color: black;
        font-size: $fs-xs;
        .cap {
            display: inline-block;
            margin-right: $global-padding;
            padding: 0 $global-padding;
            height: 18px;
            line-height: 18px;
            vertical-align: middle;
            text-align: center;
            border-radius: 2px;
            background-color: white;
        }
        .text {
            display: inline-block;
            height: 18px;
            line-height: 18px;
            vertical-align: middle;
            max-width: 260px;
            @media (min-width: $sm) {
                max-width: 360px;
            }
        }
    }
    @media ( min-width: $md) {
        width: 520px;
        left: auto;
    }
}

#toast.activity {
    background-color: #da8706;
}

#toast.community {
    background-color: #d1eaff;
}

//
#toast.chat {
    background-color: #A1A1F8;
}