<section class="page">
    <header-widget #headerWidget [title]=" app.text('sonub') "></header-widget>
    <section class="page-body">

        <div class="layout-grid">
            <div class="grid-wrapper">
                <div class="a">

                    <div class="box box-menu login-or-register" *ngIf="!app.user.isLogin">
                        <ul>
                            <li><a href="/user/login" routerLink="/user/login">Login</a></li>
                            <li><a href="/user/register" routerLink="/user/register">Register</a></li>
                        </ul>

                    </div>

                    <div class="box box-menu my-menu" *ngIf="app.user.isLogin">
                        <ul>
                            <li class="profile">
                                <a href="/user/profile" routerLink="/user/profile">
                                    <img src="{{ app.userProfilePhotoUrl }}">
                                User Profile
                            </a>
                        </li>
                            <li><a href="" routerLink="/user/profile">Message</a></li>
                            <li><a href="" routerLink="/user/profile">Friends</a></li>
                            <li><a href="" routerLink="/user/profile">Groups</a></li>
                            <li><a href="" routerLink="">Customize</a></li>
                        </ul>
                    </div>

                    <div class="box box-menu my-forum">
                        <ul>
                            <li><a href="/forum" routerLink="/forum">Forum Page</a></li>
                            <li><a href="/forum/qna" routerLink="/forum/qna">QnA Forum</a></li>
                            <li><a href="/forum/discussion" routerLink="/forum/discussion">Discussion Forum</a></li>
                            <li><a href="/forum/news" routerLink="/forum/news">News Forum</a></li>
                        </ul>
                    </div>

                    <div>My Activity</div>

                </div>
                <div class="b">
                    <router-outlet></router-outlet>
                </div>
                <div class="c">
                    <div class="box box-menu birthdays">
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                        Birthday: Jaeho and 2 other
                    </div>


                    <div class="box box-menu news">
                        <ul class="news-menu">
                            <li><a class="link-secondary" href="/forum/news" routerLink="/forum/news">Headline News</a></li>
                            <li class="link-primary" (click)="onClickCreateNews()">Create News</li>
                        </ul>
                        <div *ngIf="news" class="news-list">
                            <ul>
                                <li *ngFor="let post of news.posts">
                                    <a href="{{ app.forum.postUrl( post.ID )}}" routerLink="{{ app.forum.postUrl( post.ID )}}">
                                        <img src="{{ app.forum.getFirstImageThumbnailUrl(post) }}">
                                        <div class="post-title">{{ post.post_title }}</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>




                    <div class="box box-menu advertisement">
                        <ul class="advertisement-menu">
                            <li><a class="link-secondary" href="/forum/news" routerLink="/forum/news">Sponsered</a></li>
                            <li class="link-primary" (click)="onClickCreateNews()">Create Ad</li>
                        </ul>
                        <div class="advertisement-side-bar">
                            Advertisement Title<br>
                            Domain<br>
                            Advertisement Content less than 128 characters.
                        </div>
                    </div>


                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br> Sponsers ...
                    <br>&nbsp;<br>
                </div>
            </div>
            <!--/grid-wrapper-->
            <div class="d">
                A<br> B
                <br> C
                <br> D
                <br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Friend History ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br> Chats ...
                <br>&nbsp;<br>
            </div>
            <!--/d-->
        </div>
        <!--/layout-grid-->

        this is bottom.
    </section>
    <!--/page-body-->


</section>
<!--/page-->



<ng-template ngbModalContainer></ng-template>
