<div class="chat-page">
    <nav class="menu">
        <button class="btn btn-secondary" (click)="onClickChatUsers()">Chat Users</button>
    </nav>


    <div class="chat-users" *ngIf="showChatUsers">
        <h4>Recent Chat Users</h4>
        
        <div class="room" *ngFor="let room of rooms">
            <img class="size-32px" src="{{ room.user.photoURL }}" *ngIf="room.user.photoURL">
            {{ room.user.name }}
            {{ room.message }}
        </div>
        <hr>
    </div>

    <div *ngIf="chats">
        <div *ngFor="let chat of chats.reverse()">
            <img src="{{ chat.photoUrl }}" class="size-32px">
            {{ chat.name }} {{ chat.message }} {{ chat.time }}
        </div>
    </div>
    <input [(ngModel)]="message" (keyup.enter)="onEnterMessage()">
</div>
