<section class="page register-page">

    <div id="registerForm1">

        <div id="form1" *ngIf="activeForm == 'form1'">

            <header [innerHTML]="registerHeaderHTML1"></header>
            <div class="form-group">
                <label for="user1">Email Address</label>
                <input type="email" class="form-control" id="user1" name="user_email" placeholder="Input email address" [(ngModel)]="user_email">
                <small class="form-text text-muted">Please input your email address for login.</small>
            </div>

            <div class="form-group">
                <label for="user_pass">Password</label>
                <input type="password" class="form-control" id="user_pass" name="user_pass" placeholder="Input password" [(ngModel)]="user_pass">
                <small class="form-text text-muted">Please input your login password.</small>
            </div>

            <nav class="buttons">
                <button class="submit" type="button" id="registerButton" (click)="onSubmitRegister()">{{ app.text('register') }}</button>
            </nav>
        </div>


        <div id="form2" *ngIf="activeForm == 'form2'">
            <header [innerHTML]="registerHeaderHTML2"></header>


            <div class="mb-3">
                <span class="caption">Your email:</span>
                <span class="text">{{user_email}}</span>
            </div>



            <div class="text-center mb-3">
                <div class="profile-user d-inline-block">
                    <span class="profile-user-photo">
                            <img *ngIf="files"
                                 src="{{files[0]?.url ? files[0].url : app.anonymousPhotoURL}}"
                                 (click)="fileUploadWidget.onClickCamera()"
                            >
                        </span>
                    <input *ngIf=" ! app.isCordova " type="file" (change)="fileUploadWidget.onChangeFile($event)">
                    <nav class="buttons mt-2">
                        <button class="submit" (click)="fileUploadWidget.onClickCamera()"
                                [class.skip]="files && files.length"
                            >Update Profile</button>
                    </nav>
                </div>
            </div>

            <file-upload-widget #fileUploadWidget [title]="false" [fileSelectionButton]="false" [files]="files" [showUploadedFiles]="false"
                (success)="onSuccessUpdateProfilePicture()"></file-upload-widget>

            <nav class="buttons">
                    <button class="mt-2"
                    [class.skip] = "!files || !files.length"
                    [class.submit]="files && files.length"
                    [class.float-right]="files && files.length"

                     type="button" id="skipProfilePicture" (click)="activeForm = 'form3'">{{ files.length ? 'Next' : 'Skip'}}</button>
            </nav>
        </div>

        <div id="form3" *ngIf="activeForm == 'form3'">
            <img *ngIf="files.length" src="{{files[0].url}}" style="max-width: 100%;">
            <div class="input-group">
                <label for="email3" class="input-group-addon">Email</label>
                <span class="form-control" id="email3">{{user_email}}</span>
            </div>
            <div class="input-group">
                <label for="name" class="input-group-addon">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="name">
            </div>


            <label class="input-group-addon">Gender</label>
            <div class="form-control mb-3">
                <div class="form-check">
                    <label for="male" class="form-check-label">
                            <input type="radio" name="gender" id="male" [(ngModel)]="gender" value="m">
                            <span>Male</span>
                        </label>
                    <label for="female" class="form-check-label">
                            <input type="radio" name="gender" id="female" [(ngModel)]="gender" value="f">
                            <span>Female</span>
                        </label>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addon-primary" id="date_begin">Birthday</span>
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="birthday" ngbDatepicker #b="ngbDatepicker" [placement]="'top'">
                <div class="input-group-addon" (click)="b.toggle()">
                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
            </div>
            <div class="input-group">
                <label for="mobile" class="input-group-addon">Mobile</label>
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile" [(ngModel)]="mobile">
            </div>

            <button type="button" id="UpdateButton" (click)="onSubmitUpdateUserInfo()">Save</button>
        </div>

        <div *ngIf="errorMessage">
            <div id="error_message">{{this.errorMessage}}</div>
        </div>


        <nav class="loader" *ngIf="loading">
            <i class="fa fa-spinner fa-spin"></i>
            <span>Loading...</span>
        </nav>


    </div>
</section>
