<section class="page login-page">
    <header [innerHTML]="loginHeaderHTML"></header>
    <main>

        <nav class="web buttons" *ngIf="app.isWeb">
            <button id="google_login" (click)="onClickLoginWithGoogle()">Google Login</button>
            <button id="facebook_login" (click)="onClickLoginWithFacebook()">Facebook Login</button>
            <button (click)="onClickLoginWithKakao()">Kakao Login</button>
            <button (click)="onClickLoginWithNaver()">Naver Login</button>
        </nav>

        <div class="cordova" *ngIf="app.isCordova">
            <button (click)="onClickLoginWithCordovaGoogle()">Google Login</button>
            <button (click)="onClickLoginWithCordovaFacebook()">Facebook Login</button>
        </div>


        <div class="login-bottom" [innerHTML]="loginBottomHTML"></div>


        <hr>
        <form *ngIf="! app.user.isLogin" (ngSubmit)="onSubmitLogin()">
            <table width="330" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="110"><label for="register_user_login">{{ app.text('email') }}</label></td>
                    <td width="220"><input class="w-100" type="text" id="register_user_login" name="user_login" [(ngModel)]="user_login"></td>
                </tr>
                <tr>
                    <td width="110"><label for="register_user_pass">{{ app.text('password') }}</label></td>
                    <td width="220"><input class="w-100" type="password" id="register_user_pass" name="user_pass" [(ngModel)]="user_pass"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <nav class="buttons">
                            <button id="login-submit" class="page-form-submit submit" type="submit">Login</button>
                            <button id="login-register" class="cancel" type="button" routerLink="/user/register">Go to Register</button>
                        </nav>
                    </td>
                </tr>
            </table>


        </form>

    </main>
</section>
