.my-advertisement-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    font-size: $font-size-xs;
    ul {
        @include list-line();
        @include list-dots();
    }
}

.advertisement-side-bar {
    .image {
        max-width: 264px;
        max-height: 264px;
        overflow: hidden;
    }
}