<div class="post-list-widget" *ngIf=" pages ">
    <div class="post-list-page" *ngFor=" let page of pages ">


        <div valign="top" class="post-list-widget-post" *ngFor=" let post of page.posts " [attr.image]=" post.count_images ? 1 : 0" [attr.file]=" post.count_files ? 1: 0">
            <a href="/view/{{post.ID}}" routerLink="/view/{{post.ID}}">
                <div class="thumbnail">
                    <img *ngIf="thumbnail && app.forum.getFirstImageThumbnailUrl(post)" src="{{ app.forum.getFirstImageThumbnailUrl(post) }}">
                </div>
                <div class="title" [innerHTML]="post.post_title"></div>
            </a>
        </div>

    </div>

    <div *ngIf="inLoading" class="p-5">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> loading...
    </div>

    <div *ngIf="noMorePosts">
        <h3>No more posts ... !</h3>
    </div>

</div>