$height-post-list-thumbnail: 65px;
.post-list-widget {
    .post-list-page {
        box-sizing: border-box;
        padding: $global-padding;
        background-color: white;
    }
}

.post-list-widget-post {
    margin: $global-padding * 2 0 $global-padding;
    &:first-child { margin-top: $global-padding; }
    padding-bottom: $global-padding * 2;

    border-bottom: 1px solid #CCCCCC;
    a {
        display: block;
        height: $height-post-list-thumbnail;
        overflow: hidden;
        font-size: $fs-sm;
    }
    &:after {
        display: block;
        content: '';
        clear: both;
    }
    .thumbnail {
        float: left;
        width: 120px;
        height: $height-post-list-thumbnail;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .title {
        padding-left: $global-padding;
        height: $height-post-list-thumbnail;
        overflow: hidden;
    }
}
