.menu-page {
    ul {
        display: flex;
        flex-flow: column nowrap;
        @include list-style-none();
    }
    span, a {
        display: block;
        margin: 2px 0;
        padding: 1em;
        background-color: #ddd;
        color: black;
        cursor: pointer;
    }
    
}