<h1>Forum list page.</h1>

<a routerLink="/forum">Forum Index</a>

<button type="button" id="post-list-create-button" (click)="onClickPostCreate()">POST</button>


<div *ngIf="pages">
    <div *ngFor="let page of pages">
        <h2>Page No. {{ page.paged }}</h2>
        <div *ngFor="let post of page.posts ">
            <h2>{{ post.post_title }}</h2>
            {{ post.post_content }}

            <div class="buttons">
                <span (click)="onClickPostEdit( post )">Edit</span>
            </div>

        </div>


    </div>
</div>


<div *ngIf="inLoading" class="p-5">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> loading...
</div>

<div *ngIf="noMorePosts">
    <h3>No more posts ... !</h3>
</div>
