<div class="p-2 bg-white fs-xs word-break-all">
    <h4 class="m-0 mb-0 fs-md fw-normal">{{ app.text('my_activity') }}</h4>
    <div class="logs" *ngIf=" app.activity.length ">
        <div class="pt-2" *ngFor=" let activity of app.activity ">
            <div *ngIf=" activity.action == 'comment-create' || activity.action == 'post-create' ">
                <hr class="mt-0 mb-2 p-0">
                <a class="clearfix" href="{{ app.forum.postUrl( activity.post_ID ) }}" routerLink="{{ app.forum.postUrl( activity.post_ID ) }}">
                    <div *ngIf=" activity.thumbnail_url " class="thumbnail float-left mr-2"><img class="size-32px" src="{{ activity.thumbnail_url}} "></div>
                    <div *ngIf=" ! activity.thumbnail_url && activity.author_photoURL " class="thumbnail float-left mr-2"><img class="size-32px" src="{{ activity.author_photoURL}} "></div>
                    <span class="name fw-bold">{{ activity.author_name }} ...</span>
                    <span class="content">{{ app.wordcut( activity.content, 42 ) }}</span>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf=" app.activity.length == 0">
        You have no record.
    </div>

</div>
