/* You can add global styles to this file, and also import other style files */

///
@import './styles/variables';
@import './styles/utility';
@import './styles/mixins';
@import './styles/base';
@import './styles/layout';
@import './styles/component';
@import './styles/style';
@import './styles/modal';
@import './styles/component.page';
@import './styles/component.buttons';
@import './styles/bootstrap-patch';





/// components & pages

@import './app/app.component';
@import './modules/forum/pages/list/list';
@import './modules/user/pages/profile/profile';
@import './modules/user/pages/register-profile-photo/register-profile-photo';
@import './modules/user/pages/profile-edit/profile-edit';

@import './modules/advertisement/pages/advertisement-list/advertisement-list';

@import './modules/forum/pages/job-list/job-list';
@import './modules/forum/pages/job-create-edit/job-create-edit';

@import './modules/forum/pages/buy-and-sell-create-edit/buy-and-sell-create-edit';
@import './modules/forum/pages/buy-and-sell-view/buyandsell-view';
@import './modules/forum/pages/buy-and-sell-list/buy-and-sell-list';

// @import './modules/etc/pages/menu/menu';
@import './modules/etc/pages/chat/chat';

@import './modules/home/home';


/// widges
@import './widgets/header/header';
@import './widgets/file-display/file-display';
@import './widgets/file-upload/file-upload';


@import './widgets/advertisement-sidebar/advertisement-sidebar';
@import './widgets/post-list-thumbnail-text/post-list-thumbnail-text';
@import './widgets/post-list-full-widget/post-list-full-widget';

/// wigets ==> post
@import './widgets/comment-create/comment-create';
@import './widgets/comment-view/comment-view';
@import './widgets/post-view/post-view';

@import './widgets/sidebar-forum-menu/sidebar-forum-menu';


@import './widgets/community-log/community-log';


