
.home-form {
    background-color: white;
}
.home-form-header {
    color: #002171;
    background-color: #FAFAFA;
    border-bottom: 2px solid #002171;

    @include list-line();

    height: 30px;
    line-height: 30px;
    font-size: $fs-xs;
    li {
        padding: 0 $global-padding;
    }
}

.home-form-text {
    padding: $global-padding;
}


.home-form hr {
    margin: .2em 0;
    padding: 0;
}


.home-form-footer {
    padding: $global-padding;
    .home-form-footer-button {
        padding: $global-padding/2 $global-padding;
        background-color: #f0f0f0;
    }

    .advertisement-button {
        background-color: transparent;
    }

}