.home-form {
    background-color: white;
}
.home-form-header {
    padding: $global-padding;
    background-color: #f6f7f9;
    border-bottom: 2px solid #e2e3e6;
}

.home-form-text {
    padding: $global-padding;
}


.home-form hr {
    margin: .2em 0;
    padding: 0;
}


.home-form-footer {
    padding: $global-padding;
    .home-form-footer-button {
        padding: $global-padding/2 $global-padding;
        background-color: #EFEDED;
    }

    .advertisement-button {
        background-color: transparent;
    }

}