.flex-grid {
   display: flex;
   justify-content: center;
   div {
       margin: 4px;
       padding: 8px;
       background-color: blue;
       color: white;
   }

   .fe {
       flex: 1 1 auto;
   }
}
