$profile-user-photo-size: 200px;
.job-create-edit-page {

    .profile-user {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-align: center;
        input {
            position: absolute;
            z-index: 100;
            top: 0;
            right: 0;
            opacity: 0.001;
            font-size: 10em;
        }

        .profile-user-photo {
            display: inline-block;
            width: $profile-user-photo-size;
            height: $profile-user-photo-size;
            line-height: $profile-user-photo-size;
            vertical-align: middle;
            overflow: hidden;
            img {
                display: block;
                width: $profile-user-photo-size - 2px;
                height: $profile-user-photo-size - 2px;
                border-radius: 50%;
            }
        }

    }

    .form-group label {
        font-size: $fs-xs!important;
    }

}
