<h1>Job create and update</h1>
<div class="container">
    <div class="row">
        <div class="container">
            <form>


                <div class="form-group row">
                    <div class="text-center w-100">
                        <div id="profile-user-photo" style="position: relative;">
                            <img *ngIf="files"
                                 src="{{files[0]?.url ? files[0].url : 'assets/img/anonymous.png'}}"
                                 (click)="fileUploadWidget.onClickCamera()"
                            >
                            <input *ngIf=" ! app.isCordova " type="file" (change)="fileUploadWidget.onChangeFile($event)">
                        </div>
                        <div>
                            <button (click)="fileUploadWidget.onClickCamera()">Change Profile</button>
                        </div>
                    </div>


                </div>
                <button (click)="fileUploadWidget.onClickCamera()">Change Profile Picture</button>
                <file-upload-widget
                    #fileUploadWidget
                    [title]="false"
                    [fileSelectionButton]="false"
                    [files]="files"
                    [showUploadedFiles]="false"
                    (success)="onSuccessUpdateProfile()"
                ></file-upload-widget>


                <!--<div class="form-group row">-->
                    <!--<label for="adv-create-title">Title</label>-->
                    <!--<input id="adv-create-title" type="text" name="title" class="form-control" [(ngModel)]="title">-->
                    <!--<small>Input advertisement title.</small>-->
                <!--</div>-->
                <!--<div class="form-group row">-->
                    <!--<label for="adv-create-summary">Summary</label>-->
                    <!--<input id="adv-create-summary" type="text" name="summary" class="form-control"-->
                           <!--[(ngModel)]="summary">-->
                    <!--<small>Input advertisement summary with in 128 characters.</small>-->
                <!--</div>-->
                <!--<div class="form-group row">-->
                    <!--<label for="adv-create-domain">Domain</label>-->
                    <!--<input id="adv-create-domain" type="text" name="domain" class="form-control" [(ngModel)]="domain">-->
                    <!--<small>Input homepage display domain. Example) sonub.com or www.sonub.com</small>-->
                <!--</div>-->
                <!--<div class="form-group row">-->
                    <!--<label for="adv-create-url">Url</label>-->
                    <!--<input id="adv-create-url" type="text" name="url" class="form-control" [(ngModel)]="url">-->
                    <!--<small>Input your site url.</small>-->
                <!--</div>-->


                <button type="submit" (click)="onClickSubmit()">POST</button>

            </form>
        </div>
    </div>
</div>
